<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="impress-not-supported">
    <div id="root"></div>
    <div id="impress-toolbar">
    <script src="./js/impress.min.js"></script>
  </body>
</html>
